/* src/components/EventList.css */

.event-list-page {
  background-color: beige;
  padding: 0px 20px;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.header-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.page-title {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.filter-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  width: 100%;
  max-width: 300px;
  margin-right: 20px;
}

.date-filter {
  width: 200px;
  margin-right: 20px;
}

.location-filter {
  width: 200px;
}

.datagrid-container {
  width: 80%;
  max-height: 60vh;
  overflow: auto;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
}
