/* src/components/Header.css */
.header {
  background-color: black; /* Semi-transparent background */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px; /* Increase padding for a larger header */
  z-index: 1000;
  height: 30px; /* Adjust the height */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

/* Site Title */
.site-title {
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

/* Logout Button */
.logout-button {
  font-size: 13px;
  padding: 8px 16px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.logout-button:hover {
  background-color: #444444;
  color: white;
}
