/* frontend/src/components/Header.css */
/* src/components/Header.css */

.header {
    background-color: #333; /* Dark grey background */
    color: white; /* White text */
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
