html,body {
    background-color: #FFFFFF; 
    color: black; 
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}



/* Header Style */
.main-header {
    background-image: url(C:\Users\susha\OneDrive\Desktop\MyEvent.com\frontend\public\concert.jpg);
    background-size: cover;
    background-position: center; 
    height: 100vh; 
    color: transparent; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

/* Header Text */
.main-header h1 {
    color: #FFFFFF; 
    margin: 0;
}

/* Logout Button */
.logout-button {
    position: absolute;
    top: 15px;
    right: 20px;
    padding: 10px 20px;
    background-color: white; 
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: filter 0.3s ease;
    font-weight: 900 ;
}

.logout-button:hover {
    background-color: #444444; 
}

/* Burger Menu Button */
.burger-menu {
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: #FFFFFF; 
    margin: 10px;
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 2000; 
    transition: color 0.3s ease;
}

.burger-menu.highlight {
    color: #CCCCCC; 
}

/* Sidebar */
.main-sidebar {
    background-color: black; 
    color: #F0F0F0; 
    padding: 20px;
    width: 150px; 
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
    transition: transform 0.3s ease; 
    transform: translateX(0); 
    padding-top: 57px;

}

.main-sidebar-closed {
    transform: translateX(-100%); 
}

/* Content */
.main-content {
    font-family: 'Raleway', sans-serif;
    padding: 20px;
    background-color: #FFFFFF; 
    min-height: 100vh;
    color: black; 
    transition: filter 0.3s ease;
    text-align: center;
    font-size: x-large;
}

.blur-background .main-content {
    filter: blur(5px);
}

/* Footer */
.main-footer {
    background-color: black; 
    color: white; 
    padding: 10px;
    text-align: center;
    width: 100%;
    position: relative; 
    box-sizing: border-box;
}